:root{
    --primary: rgb(0, 146, 151); 
}

/* Tambahkan ini ke style.css Anda */
.fade-in {
    opacity: 0;
    transform: translateY(3.5rem);
    transition: opacity 2.5s ease-out, transform 2s ease-out;
  }
  
  .fade-in.show {
    opacity: 1;
    transform: translateY(0);
  }
  

.jumbotron{
    padding-top: 6rem;
    background-color: rgba(0, 146, 151, 0.171);
}

#projek{
    background-color: rgba(0, 146, 151, 0.171);
    
}

.footer{
    background-color: rgb(0, 146, 151);
}

section{
    padding-top: 5rem;
}
span{
    color: var(--primary);
    font-weight: 700;
}
.oleh{
    padding-top: 1.2rem;
}
.navbar-brand p
{
    margin-top: 0.8rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
}
.angka{
    font-weight: 700;
}
